{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Liste des artistes
{% endblock %}

{% block body %}

<h1 class="text-center display-4">
    Fiche  <span class="badge rounded-pill bg-info text-decoration-none">{{ artiste.nom }}</span>
</h1>

<div class="container my-5">
    <div class="card text-dark">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center align-items-center bg-dark">
                <div style="height: 300px; overflow: hidden;">
                    <img src="{{ artiste.photo }}" class="img-fluid rounded-start" alt="Image de profil {{ artiste.nom }}" style="object-fit: cover; width: 100%; height: 100%;">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2 class="card-title">
                            {{ artiste.nom }} 
                        </h2>
                        <a href="{{ path('app_artistes') }}" class="btn btn-warning btn-sm"><i class="bi bi-arrow-left-circle"></i> Retour</a>
                    </div>

                    <p class="card-text fw-bold">
                        {{ artiste.type|capitalize }}
                        <br>
                        {% if artiste.albums|length > 1 %}
                            <span class="badge rounded-pill bg-success text-decoration-none mt-3">{{ artiste.albums|length }} albums</span>
                        {% else %}
                            <span class="badge rounded-pill bg-success text-decoration-none mt-3">{{ artiste.albums|length }} album</span>
                        {% endif %}
                    </p>
                    <p class="card-text fw-bold">
                        {{ artiste.description }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="http://{{ artiste.siteWeb|url_encode }}" class="text-decoration-none" target="_blank">Son site web</a>
                </div>
                <div class="card-footer">
                    <p class="lead">
                        Discographie
                    </p>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Album</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Année</th>
                        <th scope="col">Morceaux</th>
                    </tr>
                </thead>
                <tbody>
                    {% for album in artiste.albums %}
                    <tr>
                        <td>
                            <div class="image-container">
                                <img src="{{ album.image }}" alt="Image de l'album {{ album.titre }}" class="img-fluid rounded" style="width: 100px; height: 100px; object-fit: cover;">
                            </div>
                        </td>
                        <td>
                            {{ album.titre }}
                        </td>
                        <td>
                            {{ album.dateSortie|date("Y") }}
                        </td>
                        <td>
                            {{ album.morceaus|length }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
